@import "../../node_modules/bootstrap/scss/_variables.scss";

$font-size-root:        50px;
$brand-primary:         #cc13a3;
$brand-success:         #3D990F;
$brand-info:            #80BEE6;
$brand-warning:         #FE8421;
$brand-danger:          #B00;